<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Vehicle List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>name</th>
          <th>location</th>
          <th>address</th>

          <th>latitude</th>
          <th>longitude</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policeStation of policeStations | async">
          <td>{{policeStation.id}}</td>
          <td>{{policeStation.name}}</td>
          <td>{{policeStation.location}}</td>
          <td>{{policeStation.latitude}}</td>
          <td>{{policeStation.longitude}}</td>
          <td><button (click)="deletePoliceStation(policeStation.id)" class="btn btn-danger">Delete</button>
              <button (click)="updatePoliceStation(policeStation.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="policeStationDetails(policeStation.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

