<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Patrol List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Car Number</th>
          <th>Station Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patrol of patrols | async">
         <td>{{patrol.carNumber}}</td>
          <td>{{patrol.stationName}}</td>
          <td>
              <button (click)="updatePatrol(patrol.id)" class="btn btn-info" style="margin-left: 10px">View Location</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

