
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Station Name</label>
      <input type="text" class="form-control" id="stationName" required [(ngModel)]="stationName" name="stationName">
    </div>
    <button type="submit" (click)="gotoList()" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <!-- <button class="btn btn-success" (click)="newPatrol()">Add</button> -->
</div>
