<h3>Update Patrol</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">carNumber</label>
      <input type="text" class="form-control" id="carNumber" required [(ngModel)]="patrol.carNumber" name="carNumber">
    </div>

    <div class="form-group">
      <label for="name">carModel</label>
      <input type="text" class="form-control" id="carModel" required [(ngModel)]="patrol.carModel" name="carModel">
    </div>

    <div class="form-group">
      <label for="name">Color</label>
      <input type="text" class="form-control" id="color" required [(ngModel)]="patrol.color" name="color">
    </div>
    <div class="form-group">
      <label for="name">description Name</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="patrol.description" name="description">
    </div>

    <div class="form-group">
      <label for="name">ownerName</label>
      <input type="text" class="form-control" id="ownerName" required [(ngModel)]="patrol.ownerName" name="ownerName">
    </div>

    <div class="form-group">
      <label for="name">vehicleDrivingLicence</label>
      <input type="text" class="form-control" id="vehicleDrivingLicence" required [(ngModel)]="patrol.vehicleDrivingLicence" name="vehicleDrivingLicence">
    </div>
   

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
