<h2>Patrol Details</h2> 

<hr/>
<div *ngIf="patrol">
  <div>
    <label><b>car Number: </b></label> {{vehicle.carNumber}}
  </div>
  <div>
    <label><b>carModel: </b></label> {{vehicle.carModel}}
  </div>
  <div>
    <label><b>Color: </b></label> {{vehicle.Color}}
  </div>  
  <div>
    <label><b>description: </b></label> {{vehicle.description}}
  </div> 
  <div>
    <label><b>ownerName: </b></label> {{vehicle.ownerName}}
  </div> 
  <div>
    <label><b>vehicleDrivingLicence: </b></label> {{vehicle.vehicleDrivingLicence}}
  </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Vehicle List</button><br>


