<h2>Patrol Details</h2> 

<hr/>
<div *ngIf="policeStation">
  <div>
    <label><b>name: </b></label> {{policeStation.name}}
  </div>
  <div>
    <label><b>location: </b></label> {{policeStation.location}}
  </div>
  <div>
    <label><b>address: </b></label> {{policeStation.address}}
  </div>  
  <div>
    <label><b>latitude: </b></label> {{policeStation.latitude}}
  </div>
  <div>
    <label><b>longitude: </b></label> {{policeStation.longitude}}
  </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Vehicle List</button><br>


