<h3>Create Patrol</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">carNumber</label>
      <input type="text" class="form-control" id="stationName" required [(ngModel)]="vehicle.carNumber" name="carNumber">
    </div>

    <div class="form-group">
      <label for="name">carModel</label>
      <input type="text" class="form-control" id="carModel" required [(ngModel)]="vehicle.carModel" name="carModel">
    </div>
    <div class="form-group">
      <label for="name">Color</label>
      <input type="text" class="form-control" id="color" required [(ngModel)]="vehicle.color" name="color">
    </div>

    <div class="form-group">
      <label for="name">description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="vehicle.description" name="description">
    </div>
    <div class="form-group">
      <label for="name">ownerName</label>
      <input type="text" class="form-control" id="ownerName" required [(ngModel)]="vehicle.ownerName" name="ownerName">
    </div>

    <div class="form-group">
      <label for="name">vehicleDrivingLicence</label>
      <input type="text" class="form-control" id="vehicleDrivingLicence" required [(ngModel)]="vehicle.vehicleDrivingLicence" name="vehicleDrivingLicence">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newPatrol()">Add</button> -->
</div>
