<h3>Create Patrol</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Station Name</label>
      <input type="text" class="form-control" id="stationName" required [(ngModel)]="employee.stationName" name="stationName">
    </div>

    <div class="form-group">
      <label for="name">carnumber</label>
      <input type="text" class="form-control" id="carnumber" required [(ngModel)]="employee.carnumber" name="carnumber">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
