<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Vehicle List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>CarNumber</th>
          <th>carModel</th>
          <th>color</th>
          <th>description</th>
          <th>ownerName</th>
          <th>vehicleDrivingLicence</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patrol of patrols | async">
          <td>{{patrol.id}}</td>
          <td>{{patrol.carNumber}}</td>
          <td>{{patrol.carModel}}</td>
          <td>{{patrol.color}}</td>
          <td>{{patrol.description}}</td>
          <td>{{patrol.ownerName}}</td>
          <td>{{patrol.vehicleDrivingLicence}}</td>
          <td><button (click)="deleteVehicle(vehicle.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateVehicle(vehicle.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="vehicleDetails(vehicle.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

