<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Vehicle List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Car Number</th>
          <th>Car Model</th>
          <th>Color</th>
          <th>Description</th>
          <th>Owner Name</th>
          <th>Vehicle Driving Licence</th>
          <th>View</th>
          <th *ngIf="isVehicle">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patrol of patrols | async">
          <td>{{patrol.carNumber}}</td>
          <td>{{patrol.carModel}}</td>
          <td>{{patrol.color}}</td>
          <td>{{patrol.description}}</td>
          <td>{{patrol.ownerName}}</td>
          <td>{{patrol.vehicleDrivingLicence}}</td>
          <td><button (click)="viewLocation(patrol.carNumber)" class="btn btn-info" style="margin-left: 10px">View Location</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

